.container
{
	background:radial-gradient( rgb(70, 160, 150),rgb(40, 120, 110));
	text-align :center;
	font-family: cursive;
	position: relative;
	border-radius:10% 10%;
	border:1px solid rgb(40, 120, 110);
	font-size: 200%;
	color:white; 
	
}

#heading
{
	position: fixed;
	width: 99%;
	top: 0;
	left:0.5%;
	z-index: 2;
	font-size: 400%;
	border-radius: 0% 0% 50% 50%;
	color:aquamarine; 
	/* display: inline-block; */
}

#login
{
	width: fit-content;
	top: 10vmax;
	align-self:center;
	z-index: 1;
	display: inline-block;
	padding: 5%;
	padding-top:0;
	padding-bottom: 0; 
}
input[type=submit]
{
	margin : 1%;
	padding: 5%;
	padding-top: 0%;
	padding-bottom: 0%;
	font-size: 100%;
	background:rgb(40, 120, 110);
	border:3px double aquamarine;
	border-radius: 30% 30%;
	font-family: cursive;
	color:white;
}

input[type=text]
{
	font-size: 100%;
	font-family: cursive;
	color:rgb(40, 120, 110);
	border:2px solid rgb(40, 120, 110);
	border-radius:10%;
}